@font-face {
  font-family: "Default";
  src: url("../fonts/futurabookc.otf");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  text-decoration: none;
  font-family: Default;
}

a:hover,
a:focus {
  text-decoration: none;
  color: black;
}

body {
  height: 100vh;
  padding: 15px 0;
  background-image: url("../img/fon.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  overflow: hidden;
}

.yellow-btn {
  display: inline-block;
  padding: 20px;
  background-color: #ffed00;
  color: #000;
  box-sizing: content-box;
  transition: all .2s;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
}

.yellow-btn:hover {
  background-color: #000;
  color: #ffed00;
}

.yellow-btn:hover a {
  transition: all .2s;
  color: #ffed00;
}

header {
  margin-bottom: 70px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: Default;
}

.header_navbar {
  display: flex;
  align-items: center;
}

.header_navbar a {
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  background-color: transparent;
  padding-bottom: 5px;
  margin: 0 5px;
}

.header_navbar a.active {
  color: #fff;
  border-bottom-color: #fff;
}

.header_navbar a:hover,
.header_navbar a:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.header_button h1 {
  margin-bottom: 5px;
}

.header_button a {
  border-radius: 5px;
  font-size: 1rem;
  display: inline-block;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.25rem 1.875rem;
  transition: background-color .2s,color .2s;
  border: 0 none;
  line-height: 1.2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: pointer;
  padding: 1.25rem 1.875rem;
  position: relative;
  padding-left: 3.125rem;
  background-color: #000;
  color: #ffed00;
}

.header_button a:hover {
  background-color: #ffed00;
  color: #000;
}

.header_button a svg {
  width: 1.3125rem;
  height: 1.3125rem;
  display: inline-block;
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  left: 1.125rem;
  fill: #ffed00;
  transition: fill .2s;
  overflow: hidden;
}

.info {
  text-align: center;
  margin: 0 0 50px 0;

  font-family: Default;
}

.info_content {
  margin-left: 100px;
  position: relative;
  left: 70%;
  transform: translate(-50%, 0);
  max-width: 500px;
}

.info_content h2 {
  font-size: 2.4em;
}

.info_btn {
  margin-top: 10px;
}

.info_btn a {
  color: black;
}

.mode {
  position: absolute;
  bottom: 20px;
  left: 30px;
  margin: 0;
  font-family: Default;
}

@media (max-width: 800px) {
  body {
    overflow: visible;
    overflow-x: hidden;
    height: 100%;
  }
  .info {
    justify-content: center;
  }
  .info_content {
    left: 50%;
  }
  .mode {
    position: relative;
    left: 0;
    bottom: auto;
  }
  .mode a {
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
  }
}


@media (max-width: 448px) {
  header {
    justify-content: center;
  }
  .header_button {
    margin-top: 10px;
  }
  .mode a {
    max-width: 90%;
  }
}


